.header {
  background: #4267b2;
  display: flex;
  justify-content: center;
}

.headerText {
  margin: 0 !important;
  font-family: San Francisco sans-serif;
  font-size: large;
}

.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 42px;
  color: #fff;
  width: 100%;
  font-size: 14px;
}

.nav img {
  height: 24px;
}

.nav > span {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav > div {
  display: flex;
  align-items: center;
}

.nav > div > i {
  margin-left: 8px;
}

.logo2 {
  height: 40px !important;
  margin-left: -15px;
  margin-top: 12px;
}
