.post-comments {
  margin-top: 20px;
}

.comment {
  margin-top: 20px;
  display: flex;
}

.comment p {
  border-radius: 20px;
  background: #eeeeee;
  margin-left: 10px;
  padding: 15px;
  font-size: 13px;
}

.comment span {
  font-weight: bold;
  margin-right: 6px;
}
